

#display {
    height: 100px;
    width: 600px;
    text-align: right;
    border-style: solid;
    font-size: 45px;
}

#clear {
    width: 150px;
}

table {
    width: 600px;
    height: 800px;
    border-style: solid;
}

button {
    width: 150px;
    height: 100%;
    font-size: 24px;

}

button:hover {
    background-color: #d3d3d3;
    color: black;
  }